@page
@model CheckoutModel

<div class="d-flex justify-content-center mt-5">
<h1>Checkout summary</h1>
</div>
@{double total = 0.0;}
<form method="post" id="autoForm" asp-page-handler="Basket">
    <input type="hidden" name="Basket" id="Basket" />
</form>


<script>

    window.addEventListener("load", function () {
        if (sessionStorage.getItem("submitted") == "true")
            return;
        // Read from localStorage
        const basket = JSON.parse(localStorage.getItem("basket"));

        console.log(basket);
        basket.forEach(entry => {
            console.log(entry.productId);
            console.log(entry.quantity);
        });
        document.getElementById("Basket").value = JSON.stringify(basket);
        document.getElementById("autoForm").submit();
        sessionStorage.setItem("submitted", "true");

        
    });
    window.addEventListener("beforeunload", function () {

    sessionStorage.removeItem("submitted");
});
</script>

<div class="d-flex justify-content-center mt-5">
    <table class="records" class="text-center">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>


        </tr>
    </thead>

    <tbody>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Quantity</td>
            <td>£@((product.Price * product.Quantity).ToString("0.00"))</td>

        </tr>
        total += product.Price * product.Quantity;
    }
    </tbody>
</table>
</div>
<div class="d-flex justify-content-center mt-5">
<h2>Total cost: £@total.ToString("0.00")</h2>
</div>
<div class="d-flex justify-content-center mt-5">
<form asp-page-handler="Checkout">
<button onclick="clearBasket()" type="submit" > Place Order <i class="icon send material-icons">send</i></button>
</form>
</div>