@page
@model IndexModel

<div class="container-index">


<div> <a asp-page="./Products", type="submit", class="link_icon confirm", id="storefront"><i class="material-icons icon">storefront</i> Browse Our Range</a>  
<a asp-page="./Search", type="submit", class="link_icon confirm", id="storefront"><i class="material-icons icon">search</i> Search Our Range </a>
</div>



</div>